<div class="modal-content">
    <div class="modal-header" style="background-color:#39b3d7;color:#ffffff">
        <h4 class="modal-title">Confirmation</h4>
    </div>
    <div class="modal-body">
        <p>{{ConfirmationMessage}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btnRounded" ng-click="CloseAll('Yes')">No</button>
        <button type="button" class="btn btn-primary btnRounded" ng-click="CloseAll('No')">Yes</button>
    </div>
</div>


<!--<div ng-switch="condition">
    <div ng-switch-when="Confirmation">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#39b3d7;color:#ffffff">
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>{{CandidateCreated}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btnRounded" ng-click="CloseAll('Yes')">No</button>
                <button type="button" class="btn btn-primary btnRounded" ng-click="CloseAll('No')">Yes</button>
            </div>
        </div>

    </div>

    <div ng-switch-when="Confirmation">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#f0ad4e;color:#ffffff">
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <p>{{CandidateError}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btnRounded" ng-click="Ok()">Ok</button>
            </div>
        </div>
    </div>
</div>-->
