<!--<div class="modal-header" style="background-color:#428bca;color:#ffffff">-->
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">x</button>

    <div class="row" style="margin-right:0px">
        <h4 class="col-md-4">Candidate Id :{{UpdateCandidate.CandidateId}}</h4>
        <!--<label class="modal-title control-label text-right">Candidate Id :{{UpdateCandidate.CandidateId}}</label>-->
        <div class="col-md-8 text-right">
            <label class="modal-title control-label text-right">Status :</label>
            <select ng-options="status.Name for status in SearchItems.Statuses" class="form-control" ng-model="UpdateCandidate.selectedStatus" style="display:inline"></select>


            <!--<select id="disabledSelect" class="form-control" style="display:inline">
                <option value="0">Please Select</option>
                <option value="1">Interview Scheduled</option>
                <option value="2">Pending</option>
                <option value="3">Offer Accepted</option>
                <option value="4">Offer Rejected</option>
            </select>-->
        </div>
    </div>



    <!--<h4 class="modal-title">Candidate Id :{{SelectedCandidate.CandidateId}}</h4>-->
</div>
<div class="col-md-12 margin-top-05">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Edit Personal Information</h3>
        </div>
        <div class="panel-body">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2 text-right padCtrlLeft">
                        <label class="control-label" for="Name">FirstName :</label>
                    </div>
                    <div class="col-md-4 text-left padCtrlLeft">
                        <input class="form-control text-box  single-line totalWidth" id="FirstName" name="FirstName" type="text" ng-model="UpdateCandidate.FirstName">
                    </div>
                    <div class="col-md-2 text-right padCtrlLeft">
                        <label class="control-label" for="Name">MiddleName :</label>
                    </div>
                    <div class="col-md-4 text-left padCtrlLeft">
                        <input class="form-control text-box  single-line totalWidth" id="MiddleName" name="LastName" type="text" ng-model="UpdateCandidate.MiddleName">
                    </div>

                </div>
                <div class="row margin-top-02">
                    <div class="col-md-2 text-right padCtrlLeft">
                        <label class="control-label" for="Name">LastName :</label>
                    </div>
                    <div class="col-md-4 text-left padCtrlLeft">
                        <input class="form-control text-box  single-line totalWidth" id="LastName" name="LastName" type="text" ng-model="UpdateCandidate.LastName">
                    </div>
                    <div class="col-md-2 text-right padCtrlLeft">
                        <label class="control-label" for="Name">Date Of Birth :</label>
                    </div>
                    <div class="col-md-4 text-left padCtrlLeft">
                        <input class="form-control text-box  single-line totalWidth" id="DateOfBirth" name="DateOfBirth" ng-model="UpdateCandidate.DateOfBirth">
                    </div>
                </div>
                <div class="row margin-top-02">
                    <div class="col-md-2 text-right padCtrlLeft">
                        <label class="control-label" for="Name">Mobile Number :</label>
                    </div>
                    <div class="col-md-4 text-left padCtrlLeft">
                        <input class="form-control text-box  single-line totalWidth" id="MobileNumber" name="MobileNumber" ng-model="UpdateCandidate.MobileNumber">
                    </div>
                    <div class="col-md-2 text-right padCtrlLeft">
                        <label class="control-label" for="Name">Alternate Number :</label>
                    </div>
                    <div class="col-md-4 text-left padCtrlLeft">
                        <input class="form-control text-box  single-line totalWidth" id="AlterNateNumber" name="AlterNateNumber" ng-model="UpdateCandidate.AlternateNumber">
                    </div>
                </div>
                <div class="row margin-top-02">
                    <div class="col-md-2 text-right padCtrlLeft">
                        <label class="control-label" for="Name">Primary Email :</label>
                    </div>
                    <div class="col-md-4 text-left padCtrlLeft">
                        <input class="form-control text-box  single-line totalWidth" id="Email" name="Email" type="email" ng-model="UpdateCandidate.Email">
                    </div>
                    <div class="col-md-2 text-right padCtrlLeft">
                        <label class="control-label" for="Name">Secondary Email :</label>
                    </div>
                    <div class="col-md-4 text-left padCtrlLeft">
                        <input class="form-control text-box  single-line totalWidth" id="Email" name="Email" type="email" ng-model="UpdateCandidate.SecondaryEmail">
                    </div>
                </div>
                <div class="row margin-top-02">
                    <div class="col-md-2 text-right padCtrlLeft">
                        <label class="control-label" for="Name">Current Industry :</label>
                    </div>
                    <div class="col-md-4 text-left padCtrlLeft">
                        <div class="col-md-12 text-left padCtrl padCtrlLeft totalWidth">
                            <select ng-options="ind.Name for ind in Industries" class="form-control totalWidth" ng-model="UpdateCandidate.selectedIndustry" style="display:inline"></select>
                        </div>
                    </div>
                    <!--<div class="col-md-2 text-right padCtrlLeft">
                        <label class="control-label" for="Name">Qualification :</label>
                    </div>
                    <div class="col-md-4 text-left padCtrlLeft">
                        <input class="form-control text-box single-line totalWidth" id="Qualification" name="Qualification" type="text" ng-model="SelectedCandidate.Qualification">
                    </div>-->
                    <div class="col-md-2 text-right padCtrlLeft">
                        <label class="control-label" for="Name">SkillSet :</label>
                    </div>
                    <div class="col-md-4 text-left padCtrlLeft">
                        <input class="form-control text-box single-line totalWidth" id="SkillSet" name="SkillSet" type="text" ng-model="UpdateCandidate.SkillSet">
                    </div>
                </div>
                <div class="row margin-top-02">
                    <div class="col-md-2 text-right padCtrlLeft">
                        <label class="control-label" for="Name">Experience :</label>
                    </div>
                    <div class="col-md-4 text-left padCtrlLeft">
                        <div class="col-md-6 text-left padCtrl padCtrlLeft">
                            <select ng-options="exp.name for exp in ExperienceInYears" class="form-control totalWidth" ng-model="UpdateCandidate.selectedExperienceInYears" style="display:inline"></select>
                        </div>
                        <div class="col-md-6 text-right padCtrl padCtrlLeft">
                            <select ng-options="exp.name for exp in ExperienceInMonths" class="form-control totalWidth" ng-model="UpdateCandidate.selectedExperienceInMonths" style="display:inline"></select>
                            <!--<input class="form-control text-box  single-line" id="Experience" name="Qualification" type="text" ng-model="Candidate.Experience">-->
                        </div>
                    </div>
                    <div class="col-md-2 text-right padCtrlLeft">
                        <label class="control-label" for="Name">Current Employer :</label>
                    </div>
                    <div class="col-md-4 text-left padCtrlLeft">
                        <input class="form-control text-box single-line totalWidth" id="CurrentEmployer" name="CurrentEmployer" type="text" ng-model="UpdateCandidate.CurrentEmployer">
                    </div>
                </div>
                <!--<div class="row margin-top-02">
                    <div class="col-md-2 text-right padCtrlLeft">
                        <label class="control-label" for="Name">Current Employer :</label>
                    </div>
                    <div class="col-md-4 text-left padCtrlLeft">
                        <input class="form-control text-box  single-line totalWidth" id="CurrentEmployer" name="CurrentEmployer" type="text" ng-model="SelectedCandidate.CurrentEmployer">
                    </div>
                    <div class="col-md-2 text-right padCtrlLeft">
                        <label class="control-label" for="Name">Current CTC :</label>
                    </div>
                    <div class="col-md-4 text-left padCtrlLeft">
                        <input class="form-control text-box  single-line totalWidth" id="CurrentCTC" name="CurrentCTC" type="text" ng-model="SelectedCandidate.CurrentCTC">
                    </div>
                </div>-->

                <div class="row margin-top-02">
                    <div class="col-md-2 text-right padCtrlLeft">
                        <label class="control-label" for="Name">CurrentDesignation :</label>
                    </div>
                    <div class="col-md-4 text-left padCtrlLeft">
                        <input class="form-control text-box  single-line totalWidth" id="CurrentDesignation" name="CurrentDesignation" type="text" ng-model="UpdateCandidate.CurrentDesignation">
                    </div>
                    <div class="col-md-2 text-right padCtrlLeft">
                        <label class="control-label" for="Name">Current Location :</label>
                    </div>
                    <div class="col-md-4 text-left padCtrlLeft">
                        <input class="form-control text-box  single-line totalWidth" id="CurrentLocation" name="CurrentLocation" type="text" ng-model="UpdateCandidate.CurrentLocation">
                    </div>
                </div>

                <div class="row margin-top-02">
                    <div class="col-md-2 text-right padCtrlLeft">
                        <label class="control-label" for="Name">Notice Period :</label>
                    </div>
                    <div class="col-md-4 text-left padCtrlLeft">
                        <input class="form-control text-box single-line totalWidth" id="NoticePeriod" name="NoticePeriod" type="text" ng-model="UpdateCandidate.NoticePeriod">
                    </div>
                    <div class="col-md-2 text-right padCtrlLeft">
                        <label class="control-label" for="Name">Current CTC :</label>
                    </div>
                    <div class="col-md-4 text-left padCtrlLeft">
                        <div class="col-md-6 text-left left padCtrl padCtrlLeft">
                            <select ng-options="sal.name for sal in SalaryInLacs" class="form-control totalWidth" ng-model="UpdateCandidate.selectedSalaryInLacs" style="display:inline"></select>
                        </div>
                        <div class="col-md-6 text-left right padCtrl padCtrlLeft">
                            <select ng-options="sal.name for sal in SalaryInThousands" class="form-control totalWidth" ng-model="UpdateCandidate.selectedSalaryInThousands" style="display:inline"></select>
                        </div>
                    </div>
                </div>


                <div class="row margin-top-02">
                    <div class="col-md-2 text-right padCtrlLeft">
                        <label class="control-label" for="Name">Home Town :</label>
                    </div>
                    <div class="col-md-4 text-left padCtrlLeft">
                        <input class="form-control text-box  single-line totalWidth" id="HomeTown" name="HomeTown" type="text" ng-model="UpdateCandidate.HomeTown">
                    </div>
                    <div class="col-md-2 text-right padCtrlLeft">
                        <label class="control-label" for="Name">Source :</label>
                    </div>
                    <div class="col-md-4 text-left padCtrlLeft">
                        <input class="form-control text-box  single-line totalWidth" id="Source" name="Source" type="text" ng-model="UpdateCandidate.Source">
                    </div>
                </div>


                <div class="row margin-top-02">
                    <div class="col-md-2 text-right padCtrlLeft">
                        <label class="control-label" for="Name">Assign To :</label>
                    </div>
                    <div class="col-md-4 text-left padCtrlLeft">
                        <div class="col-md-12 text-left padCtrl padCtrlLeft totalWidth">
                            <select ng-options="user.Name for user in SearchItems.CreatedBy" class="form-control totalWidth" ng-model="UpdateCandidate.SelectedAssignTo" style="display:inline"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary btnRounded" ng-click="Update()">Update</button>
    <button type="button" class="btn btn-primary btnRounded" ng-click="cancel()">Close</button>
</div>

