<!--<div class="modal-header" style="background-color:#428bca;color:#ffffff">-->
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">x</button>

    <div class="row" style="margin-right: 0px">
        <h4 class="col-md-4">Id :{{statusEdit.CanStatusId}}</h4>
    </div>

</div>
<form name="adminform">
<div class="col-md-12 margin-top-05">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Edit Information</h3>
        </div>
        <div class="panel-body">
            <div class="modal-body">
                <div class="row">

                    <div class="col-md-2 text-right padCtrlLeft">
                        <label class="control-label" for="Name">Name :</label>
                    </div>

                     <div class="col-md-4 text-left padCtrlLeft">
                            <input class="form-control" id="Name" name="Name" type="text" ng-model="statusEdit.Name" ng-class="{'input-validation-error': adminform.Name.$error.required}" required>
                            <span class="field-validation-error" ng-show="adminform.Name.$error.required">{{errorMessage.name}}</span>
                        </div>                  

                    <div class="col-md-2 text-right padCtrlLeft">
                        <label class="control-label" for="Name">Description :</label>
                    </div>

                    <div class="col-md-4 text-left padCtrlLeft">
                        <input class="form-control text-box" id="Description" name="Description" type="text" ng-model="statusEdit.Description">
                    </div>


                </div>
                <div class="row margin-top-02">

                    <div class="col-md-2 text-right padCtrlLeft">
                        &nbsp;
                    </div>

                    <div class="col-md-4 text-left padCtrlLeft">
                        &nbsp;
                    </div>



                    <div class="col-md-2 text-right padCtrlLeft">
                        <label class="control-label " for="Name">IsActive :</label>
                    </div>

                    <div class="col-md-4 text-left padCtrlLeft">
                        <input type="checkbox" ng-model="statusEdit.IsActive" name="IsActive" value="Bike">
                    </div>



                </div>

            </div>
        </div>
    </div>
</div>
</form>

<div class="modal-footer">
    <button type="button" class="btn btn-primary btnRounded" ng-click="Update()">Update</button>
    <button type="button" class="btn btn-primary btnRounded" ng-click="cancel()">Close</button>
</div>

