<h2>Create User</h2>
<div class="form-horizontal" ng-controller="UserController">
    <hr>
    <div class="form-group">
        <label class="control-label col-md-4" for="Name">FirstName</label>
        <div class="col-md-8">
            <input class="form-control text-box single-line" id="Name" name="Name" type="text" ng-model="User.FirstName">
            <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-4" for="Name">LastName</label>
        <div class="col-md-8">
            <input class="form-control text-box single-line" id="Name" name="Name" type="text" ng-model="User.LastName">
            <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-4" for="Name">MiddleName</label>
        <div class="col-md-8">
            <input class="form-control text-box single-line" id="Name" name="Name" type="text" ng-model="User.MiddleName">
            <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-4" for="Name">Password</label>
        <div class="col-md-8">
            <input class="form-control text-box single-line" id="Name" name="Name" type="text" ng-model="User.Password">
            <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-4" for="Name">Details</label>
        <div class="col-md-8">
            <input class="form-control text-box single-line" id="Name" name="Name" type="text" ng-model="User.Details">
            <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-4" for="Name">DOB</label>
        <div class="col-md-8">
            <input class="form-control text-box single-line" id="Name" name="Name" type="text" ng-model="User.DOB">
            <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-4" for="Name">Address</label>
        <div class="col-md-8">
            <input class="form-control text-box single-line" id="Name" name="Name" type="text" ng-model="User.Address">
            <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-4" for="Name">MaritalStatus</label>
        <div class="col-md-8">
            <input class="form-control text-box single-line" id="Name" name="Name" type="text" ng-model="User.MaritalStatus">
            <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-4" for="Name">Gender</label>
        <div class="col-md-8">
            <input class="form-control text-box single-line" id="Name" name="Name" type="text" ng-model="User.Gender">
            <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-4" for="MobileNumber">Mobile</label>
        <div class="col-md-8">
            <input class="form-control text-box single-line" id="MobileNumber" name="MobileNumber" type="text" ng-model="User.Mobile">
            <span class="field-validation-valid text-danger" data-valmsg-for="MobileNumber" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-4" for="Email">Email</label>
        <div class="col-md-8">
            <input class="form-control text-box single-line" id="Email" name="Email" type="text" ng-model="User.Email">
            <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-7 col-md-12">
            <input type="submit" value="Create" class="btn btn-default">
        </div>
    </div>
</div>
